<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>tellr</title>
    <link rel="stylesheet" href="https://cdnjs.buttflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <header class="main-header">
      <section class="main-header__inner">
        <div class="main-header__content">
          <h1 class="main-header__heading">Когда невесту искать будешь?</h1>
          <p class="main-header__text">
            Это тебе не свайпы. <br />
            Мы ещё не потеряли веру в людей и предлагаем новый модный формат
            знакомств, который базируется на выводах из курсов психологии
            межличностных отношений.
          </p>
          <a class="btn">Записывайся на бета-тест</a>
        </div>
        <img src="static/img/header_pic.png" width="257" height="543" />
      </section>
    </header>
    <secion class="slider">
      <div class="slider__inner">
        <h2 class="slider__heading">Фэктс</h2>
        <input type="radio" id="slide-btn-1" name="slider" checked />
        <input type="radio" id="slide-btn-2" name="slider" />
        <input type="radio" id="slide-btn-3" name="slider" />
        <div class="slider__controls">
          <label for="slide-btn-1" class="slider__label"></label>
          <label for="slide-btn-2" class="slider__label"></label>
          <label for="slide-btn-3" class="slider__label"></label>
        </div>
        <div class="slider__slide slider__slide-1">
          <div class="slider__text">
            <strong class="slider__num">#1</strong>
            <p class="slider__content">
              Если бы Оксимирон <br />
              использовал наше приложение, он бы не проиграл Славе КПСС. <br />
              Мы и сами не знаем, какая тут связь.
            </p>
            <p class="slider__quote">
              "Эх, если бы я только использовал это приложение! Я бы точно не
              проиграл Славе КПСС, рил ток."
            </p>

            <strong class="slider__author">Мирон, 34 года, рэпер</strong>
          </div>
        </div>
        <div class="slider__slide slider__slide-2">
          <div class="slider__text">
            <strong class="slider__num">#2</strong>
            <p class="slider__content">
              Твоя бывшая не наткнётся на тебя в нашем приложении и тебе не
              будет стыдно за вещи, до которых ты опустился.
            </p>
            <p class="slider__quote">
              “Пользователь ограничил круг лиц, которые могут присылать ему
              сообщения.”
            </p>
            <strong class="slider__author">Виктория, 23 года, студентка</strong>
          </div>
        </div>
        <div class="slider__slide slider__slide-3">
          <div class="slider__text">
            <strong class="slider__num">#3</strong>
            <p class="slider__content">
              Некоторые черепахи <br />
              живут дольше 100 лет.
            </p>
            <p class="slider__quote">“кавабанга”</p>
            <strong class="slider__author"
              >Рафаэль, 32 года, гастарбайтер</strong
            >
          </div>
        </div>
      </div>
    </secion>
    <section class="salt">
      <div class="salt__inner">
        <h2 class="salt__heading">В чём соль?</h2>
        <div class="salt__content">
          <ul class="salt__features">
            <li class="feature">
              <img
                src="static/img/connect.png"
                alt=""
                class="feature__pic"
                width="48"
                height="48"
              />
              <strong class="feature__title">Из тебя так себе Шерлок</strong>
              <p class="feature__description">
                Формируем мэтчи исходя из того, что вы можете сказать друг о
                друге, имея перед собой только фотографию.
              </p>
            </li>
            <li class="feature">
              <img
                src="static/img/hands.png"
                alt=""
                class="feature__pic"
                width="48"
                height="48"
              />
              <strong class="feature__title">Множим чувства, а не ЗППП</strong>
              <p class="feature__description">
                Поскольку при знакомстве вам приходится думать головой,
                возникновение связи между вами неизбежно.
              </p>
            </li>
            <li class="feature">
              <img
                src="static/img/love.png"
                alt=""
                class="feature__pic"
                width="48"
                height="48"
              />
              <strong class="feature__title">Нам не нужны твои деньги</strong>
              <p class="feature__description">
                Шутка, конечно нужны. <br />
                Но платных фич в приложении нет.
              </p>
            </li>
          </ul>
          <img src="static/img/salt__pic.png" alt="" class="salt__pic" />
        </div>
      </div>
    </section>
    <section class="new-view">
      <div class="new-view__inner">
        <h2 class="new-view__heading">Новый взгляд на полумертвый формат</h2>
        <ul class="new-view__list">
          <li class="new-view__element">
            <strong class="new-view__title">Порог вхождения</strong>
            <p class="new-view__description">
              Несмотря на бесплатность, среди наших пользователей нет <br />
              маргиналов — они не могут <br />
              въехать в концепцию.
            </p>
          </li>
          <li class="new-view__element">
            <strong class="new-view__title">Не сдадим тебя органам</strong>
            <p class="new-view__description">
              Сервера находятся в офшорных зонах. Во-первых, потому что там
              дешевле. <br />
              В принципе, всё.
            </p>
          </li>
          <li class="new-view__element">
            <strong class="new-view__title"
              >Верим в психологию межличностных отношений</strong
            >
            <p class="new-view__description">
              Других оправданий тому количеству кэша, которое мы отвалили за
              консультации, у нас нет.
            </p>
          </li>
          <li class="new-view__element">
            <strong class="new-view__title">Верим в тебя</strong>
            <p class="new-view__description">
              Ты даже подержишься за ручку. <br />
              Правда.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <footer class="main-footer">
      <section class="main-footer__inner">
        <h2 class="main-footer__heading">Записывайся на бета-тест</h2>
        <div class="main-footer__container">
          <div class="main-footer__content">
            <p class="main-footer__text">
              Не надоедаем маркетинговыми рассылками — они всё равно не
              работают.
            </p>
            <p class="main-footer__text">
              Потревожим всего один раз, скинув ссылку на приложение.
            </p>
          </div>
          <form action="/form" method="POST" class="main-footer__form">
            <div class="main-footer__field">
              <label for="name" class="main-footer__label">Как зовут?</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Паша Техник"
                class="main-footer__text-input"
                required
              />
            </div>
            <div class="main-footer__field">
              <label for="email" class="main-footer__label">Твой email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="tellr@tellr.ru"
                class="main-footer__text-input"
                required
              />
            </div>
            <div class="main-footer__field">
              <p class="main-footer__label">Есть кот?</p>
              <input
                type="radio"
                class="main-footer__radio"
                name="cat"
                value="true"
                id="cat-1"
                checked
              />
              <input
                type="radio"
                class="main-footer__radio"
                name="cat"
                value="false"
                id="cat-2"
              />
              <label for="cat-1" class="main-footer__radio-label">Да</label>
              <label for="cat-2" class="main-footer__radio-label">Нет</label>
            </div>
            <input type="submit" class="btn main-footer__btn" value="Отправить" />
          </form>
        </div>
      </section>
    </footer>
  </body>
</html>
